.main-container {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.stoic-container {
    width: 450px;
    margin: auto;
    margin-top: 50px;
}

.icon-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 2px #17171F solid;
    width: 300px;
    margin-top: 50px;
}

.icon-container button{
    margin-top: 20px;
    margin-bottom: 40px;
        min-width: 130px;
        height: 40px;
        color: #FAFAFA;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border: 2px solid #212529;
        background: #212529;
      
      
      }
    
      .icon-container button:hover {
        background: #FAFAFA;
        color: #212529
      }

      

      .icon {
  margin-top: 25px;
}